.vscode/
node_modules/
build/
dist/
vote-installer/
vote-win32-ia32/
out/
*.js
*.js.map
resources/app/*.js
resources/app/*.js.map
resources/app/js/*.js
resources/app/js/*.js.map
resources/app/model/*.js
resources/app/model/*.js.map
.cache/
