.electionImage {
    width:256px;
    height:256px;
    margin-left: auto;
    margin-right:auto;
    overflow:hidden; /* To previent weird bug of some images not aligning correctly and overflowing */
}

.candidate-name {
    padding:20px;
}

.candidateImage {
    padding-top: 15px;
}